<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pic</key>
		<string>icon_nav4_c</string>
		<key>title</key>
		<string>实名认证</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>icon_nav4_c</string>
		<key>title</key>
		<string>实名补登记</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>icon_nav4_c</string>
		<key>title</key>
		<string>充值中心</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>icon_nav4_c</string>
		<key>title</key>
		<string>异地补卡</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>icon_nav4_c</string>
		<key>title</key>
		<string>选号入网</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>icon_nav4_c</string>
		<key>title</key>
		<string>爆款手机</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>icon_nav4_c</string>
		<key>title</key>
		<string>省内业务</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>icon_nav4_c</string>
		<key>title</key>
		<string>选号入网1</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>icon_nav4_c</string>
		<key>title</key>
		<string>选号入网2</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>icon_nav4_c</string>
		<key>title</key>
		<string>选号入网3</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>icon_nav4_c</string>
		<key>title</key>
		<string>选号入网4</string>
	</dict>
	<dict>
		<key>pic</key>
		<string>icon_nav4_c</string>
		<key>title</key>
		<string>选号入网5</string>
	</dict>
</array>
</plist>
